Source: lightdm
Section: x11
Priority: optional
Maintainer: Robert Ancell <robert.ancell@ubuntu.com>
Uploaders: Julien Lavergne <gilir@ubuntu.com>
Standards-Version: 3.9.1
Build-Depends: debhelper (>= 7.0.50~),
               quilt (>= 0.46-7~),
               intltool (>= 0.35.0),
               valac,
               libglib2.0-dev,
               libpam0g-dev,
               libxdmcp-dev,
               libxcb1-dev,
               libxklavier-dev,
               libgtk2.0-dev,
               gobject-introspection,
               valac-0.12,
               libgirepository1.0-dev,
               libqt4-dev,
               dh-autoreconf,
               gtk-doc-tools,
               dbus
Homepage: https://launchpad.net/lightdm
Vcs-Bzr: https://code.launchpad.net/~ubuntu-desktop/lightdm/ubuntu

Package: lightdm
Architecture: any
Pre-Depends: dpkg (>= 1.15.7.2)
Depends: ${misc:Depends},
         ${shlibs:Depends},
         libpam-runtime (>= 0.76-14),
         libpam-modules,
         adduser
Recommends: xserver-xorg,
            lightdm-greeter
Provides: x-display-manager
Description: Display Manager
 LightDM is a X display manager that:
  * Has a lightweight codebase
  * Is standards compliant (PAM, ConsoleKit, etc)
  * Has a well defined interface between the server and user interface
  * Cross-desktop (greeters can be written in any toolkit)

Package: lightdm-greeter-example-gtk
Architecture: any
Depends: ${misc:Depends},
         ${shlibs:Depends}
Recommends: lightdm
Provides: lightdm-greeter
Description: LightDM GTK+ Greeter
 A LightDM greeter that uses the GTK+ toolkit.

Package: lightdm-greeter-example-vala-gtk
Architecture: any
Depends: ${misc:Depends},
         ${shlibs:Depends}
Recommends: lightdm
Provides: lightdm-greeter
Description: LightDM GTK+ Greeter (Vala)
 A LightDM greeter that uses the GTK+ toolkit and is written in Vala.

Package: lightdm-greeter-example-python-gtk
Architecture: any
Depends: ${misc:Depends},
         ${shlibs:Depends},
         ${python:Depends},
         python-gobject,
         gir1.2-lightdm-0,
         gir1.2-gtk-2.0,
         gir1.2-gdkpixbuf-2.0
Recommends: lightdm
Provides: lightdm-greeter
Description: LightDM GTK+ Greeter (Python)
 A LightDM greeter that uses the GTK+ toolkit and is written in Python.

Package: lightdm-greeter-example-qt
Architecture: any
Depends: ${misc:Depends},
         ${shlibs:Depends}
Recommends: lightdm
Provides: lightdm-greeter
Description: LightDM Qt Greeter
 A LightDM greeter that uses the Qt toolkit.

Package: liblightdm-gobject-0-0
Architecture: any
Depends: ${misc:Depends},
         ${shlibs:Depends}
Recommends: lightdm         
Description: LightDM GObject client library
 A GObject based library for LightDM clients to use to interface with LightDM.

Package: gir1.2-lightdm-0
Section: libs
Architecture: any
Depends: ${misc:Depends},
         liblightdm-gobject-0-0 (= ${binary:Version})
Conflicts: gir1.0-lightdm-0
Replaces: gir1.0-lightdm-0
Description: Typelib file for liblightdm-0
 A GObject based library for LightDM clients to use to interface with LightDM.

Package: liblightdm-qt-0-0
Architecture: any
Depends: ${misc:Depends},
         ${shlibs:Depends}
Recommends: lightdm         
Description: LightDM Qt client library
 A Qt based library for LightDM clients to use to interface with LightDM.

Package: liblightdm-gobject-0-dev
Section: libdevel
Architecture: any
Depends: ${misc:Depends},
         liblightdm-gobject-0-0 (= ${binary:Version}),
         libglib2.0-dev,
         libdbus-glib-1-dev,
         libxklavier-dev
Description: LightDM client library (development files)
 A GObject based library for LightDM clients to use to interface with LightDM.
 .
 This package contains header files and development information, which
 is useful for building LightDM greeters and user switchers.

Package: liblightdm-qt-0-dev
Section: libdevel
Architecture: any
Depends: ${misc:Depends},
         liblightdm-qt-0-0 (= ${binary:Version}),
         libqt4-dev
Description: LightDM client library (development files)
 A Qt based library for LightDM clients to use to interface with LightDM.
 .
 This package contains header files and development information, which
 is useful for building LightDM greeters and user switchers.

Package: liblightdm-gobject-0-doc
Section: doc
Architecture: any
Depends: ${misc:Depends}
Description: LightDM client library (documentation)
 A GObject based library for LightDM clients to use to interface with LightDM.
 .
 This package contains HTML documentation.
